---
import CardLaunch from '../components/CardLaunch.astro';
import Layout from '../layouts/Layout.astro';
import { getOldestLaunches } from '../service/spaceX';

const launches = await getOldestLaunches();
console.log(launches)

---
<Layout title="Lanzamientos spaceX mas viejos">
    <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-3 p-10">
        {
            launches!.map(({id, links, details, flight_number:flightNumber, success, failures, name, date_unix}) =>(
           <CardLaunch 
            id={id} 
            img={links.patch.small} 
            details={details ?? "Detalles no disponible"}
            flightNumber={flightNumber}
            success={success}
            article={links?.article}
            failures={failures[0]?.reason}
            name={name}
            date_unix={date_unix}
           />
            ))
        }
        </div>
</Layout>

