---
import CardLaunch from './CardLaunch.astro';

import { getLantestLaunches } from '../service/spaceX';

const launches = await getLantestLaunches();

---


<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 p-10">
{
    launches!.map(({id, links, details, flight_number:flightNumber, success}) =>(
   <CardLaunch 
    id={id} 
    img={links.patch.small} 
    details={details ?? "Detalles no disponible"}
    flightNumber={flightNumber}
    success={success}
    article={links?.article}
   />
    ))
}
</div>